/* Minimalist dark theme */


* {
box-sizing: border-box;
}


body {
margin: 0;
background-color: #0e0e0e; /* soft black */
color: #ffffff;
font-family: Helvetica, Arial, sans-serif;
}


main {
max-width: 700px;
margin: 0 auto;
padding: 80px 24px;
}


h1 {
font-size: 2.2rem;
font-weight: 500;
margin-bottom: 0.5em;
}


.subtitle {
font-size: 1rem;
opacity: 0.7;
margin-bottom: 3rem;
}


nav ul {
list-style: none;
padding: 0;
}


nav li {
margin-bottom: 1.2rem;
}


nav a {
color: #ffffff;
text-decoration: none;
font-size: 1.1rem;
opacity: 0.85;
}


nav a:hover {
opacity: 1;
}


p {
font-size: 1rem;
line-height: 1.7;
opacity: 0.9;
margin-bottom: 2rem;
}


.details {
margin-top: 1.5rem;
opacity: 0.7;
}


.back {
display: inline-block;
margin-bottom: 2rem;
font-size: 0.9rem;
color: #ffffff;
text-decoration: none;
opacity: 0.6;
}


.back:hover {
opacity: 1;
}



h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

pre[class*="language-"] {
  background: transparent !important;
}

code[class*="language-"] {
  background: transparent !important;
}
